@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root {
  --primary-color: #007F5F;
  --secondary-color: #FFFFFF;
  --third-color: #AAAAAA;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
